<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula - <%= aula.nome %></title>
    <link rel="stylesheet" href="../assets/styles/aula.css">
    <script defer src="../assets/scripts/aulas.js"></script>
    <script defer src="../assets/scripts/aula.js"></script>
</head>

<body>
    <header>
        <button id="backBtn" class="btn">
            Voltar
        </button>

        <p>Aula - <%= aula.nome %></p>
    </header>

    <main>
        <section class="secMain">
            <!-- Uma section deitada na horizontal -->   
            <p>
                <%= aula.contexto %>
            </p>
        </section>

        <div class="secMain">
            <!-- Duas sections em pé uma do lado da outra -->
            <section class="contentSect">
                <p>
                    <%= aula.conteudo_1 %>
                </p>
            </section>
    
            <section class="contentSect">
                <p>
                    <%= aula.conteudo_2 %>
                </p>
            </section>
        </div>

        <div class="secMain">
            <button id="renderQuestion" class="btn">
                Gerar Pergunta
            </button>

            <p id="questP">
                
            </p>

            <div id="alternativas" class="answQuest">
                
            </div>
        </div>
    </main>
</body> 
</html>