<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Initial Screen - <%= usuario.nome %></title>
    <script defer src="../assets/scripts/initialScreen.js"></script>
    <link rel="stylesheet" href="../assets/styles/initialScreen.css">
</head>
<body>
    <header>
        <div class="">
            
        </div>

        <div class="">

        </div>
    </header>

    <div class="mainContent">
        <div class="contentFooterDiv">
            <div class="subHeader">
                <div class="userMainInfos infos">
                    <img src="" alt="Profile Photo">
                    <ul>
                        <li>
                            <%= usuario.nome %>
                        </li>
                        
                        <li>
                            <%= materia.nome %>
                        </li>
                    </ul>
                </div>

                <div class="miniOptions infos">
                    <button>
                        <!-- Amigos -->
                        <img src="">
                    </button>
                    
                    <button>
                        <!-- Mensagens -->
                         <img src="">
                    </button>
                    
                    <button>
                        <!-- Configs -->
                         <img src="">
                    </button>
                </div>
            </div>

            <div class="secHolder">
                <section class="mainSecs">
                    <div class="">
                        <div class="">
                            <img src="" alt="">
                            <p># <%= //Tem que colocar o ranking aqui  %></p>
                        </div>
                        <div class="">
                            <p>
                                Score
                            </p>

                            <div class="">
                                <p>
                                    <%= usuario.pontuacao %>
                                </p>

                                <img src="" alt="Trophy Ex">
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <button>
                            <img src="" alt="">
                            <p>Do exercises</p>
                        </button>
                        
                        <button>
                            <img src="" alt="">
                            <p>Subject studing</p>
                        </button>
                        
                        <button>
                            <img src="" alt="">
                            <p>General tests</p>
                        </button>
                    </div>
                </section>

                <section class="mainSecs">
                    <div class="">
                        <div class="">
                            <img src="" alt="Calendar Ex">
                            <p># <%= //Tem que colocar a quantidade de exercícios resolvidos aqui  %></p>
                        </div>
                        <div class="">
                            <p>
                                Exercises
                            </p>

                            <div class="">
                                <p>
                                    <%= //Colocar o streak do problema diário %>
                                </p>

                                <img src="" alt="Fire Ex">
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <img src="" alt="Idk for now">
                        <div class="">
                            <p></p>
                        </div>
                    </div>
                </section>

                <section class="mainSecs">
                    <div class="">
                        <div class="">
                            <img src="" alt="Leaderboard Ex">
                        </div>
                        <div class="">
                            <p>
                                Leaderboard
                            </p>
                        </div>
                    </div>

                    <div class="">
                        <img src="" alt="Idk for now">
                        <div class="">
                            <p>Highest scores</p>
                        </div>
                    </div>
                </section>

                <section class="mainSecs">
                    <!-- Não sei o que fazer aqui por hora -->
                    <div class="">

                    </div>

                    <div class="">

                    </div>
                </section>
            </div>

            <div class="searchContent">
                <input type="search">

            </div>
        </div>
        <footer>
            <nav></nav>
            <nav></nav>
        </footer>
    </div>
</body>
</html>